<!-- Denglu Comment BEGIN -->
<div class="ds-thread" data-title="{% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %}"></div>
<script id='denglu_login_js' type='text/javascript' charset='utf-8'></script>
<script type='text/javascript' charset='utf-8'>
    (function() {
        var _dl_time = new Date().getTime();
        var _dl_login = document.getElementById('denglu_login_js');
        _dl_login.id = _dl_login.id + '_' + _dl_time;
        _dl_login.src = 'http://static.denglu.cc/connect/logincode?appid=73825denVWuJH1kIApyED4uL523JZ6&v=1.0.2&widget=4&styletype=1&size=438_130&asyn=true&time=' + _dl_time;
    })();
</script>
<!-- Denglu Comment END -->
